-var pageTitle="Home"
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/styles
    body
        include pug/components/intro
        section.revo
            h1  THANK YOU!
            img(src="./img/pp.jpg" alt="")
        //- Scripts
        include pug/layout/scripts